<button class="rounded btn btn-warning" [routerLink]="['']">Voltar</button>

<h1>Nova sala</h1>

<form (ngSubmit)="save()" [formGroup]="formRoom">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="name"
      placeholder="Nome da sala"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descrição</label>
    <textarea
      class="form-control"
      id="description"
      formControlName="description"
      rows="3"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="image_url" class="form-label">Imagem</label>
    <input
      type="text"
      class="form-control"
      id="image_url"
      formControlName="image_url"
    />
  </div>
  <div class="mb-3">
    <label for="youtube_url" class="form-label">Url video</label>
    <input
      type="text"
      class="form-control"
      id="youtube_url"
      formControlName="youtube_url"
      placeholder="Insira seu video de apresentacao direto com link embed do youtube"
    />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
